/* contact.css */

.form4 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  padding: 30px;
  width: 100%;
  margin: 3% auto;
  text-align: center;
  opacity: 0; /* Start with 0 opacity */
  transform: scale(0.95); /* Start with a smaller scale */
  animation: fadeInScale 0.5s forwards; /* Animation to fade in and scale up */
}

@keyframes fadeInScale {
  to {
    opacity: 1; /* Fade to full opacity */
    transform: scale(1); /* Scale to original size */
  }
}

#contact4 {
  color: #333;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.name4,
.email4 {
  width: 86%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.message4 {
  width: 379px;
  height: 82px;
  padding: 10px;
  font-weight: lighter;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  resize: none;
}

.name4:focus,
.email4:focus,
.message4:focus {
  border-color: #2980b9;
  outline: none;
}

.button4 {
  padding: 10px;
  background-color: #939393;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover and active states */
  width: 50%;
  margin-top: 10px;
}

.button4:hover {
  background-color: #31C48D;
}

.button4:focus {
  outline: none;
}

.button4:active {
  background-color: #2980b9;
  transform: translateY(2px); /* Subtle move down on click */
}

.social-icons4 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons4 a {
  color: #939393;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons4 a:hover {
  color: #31C48D;
}

@media (max-width: 500px) {
  .form4 {
    padding: 20px;
    width: 90%;
  }

  #contact4 {
    font-size: 20px;
  }

  .name4,
  .email4,
  .message4,
  .button4 {
    font-size: 14px;
  }

  .social-icons4 a {
    font-size: 18px;
  }
}
